# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env
.venv

# IDE files
.idea/
.vscode/

# Coverage
htmlcov/
.coverage*
*.cover
.pytest_cache/

# Misc
.DS_Store

venv/

# Output files
*.json
*.csv
*.sqlite
*.db
*_urls.txt
*_log.txt
organized_literature/
downloads/
