# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.build/
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
.env
.venv

# IDE files
.idea/
.vscode/

# Coverage
htmlcov/
.coverage*
*.cover
.pytest_cache/

# Misc
.DS_Store

venv/

# Nextflow
.nextflow/
.nextflow.log*
work/
results/
*.html
*.svg
trace.txt
timeline.html
report.html
dag.dot
